<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" 
	default-lazy-init="true">
	
	<!--  contextos y definicion de beans para los data services -->
	<import resource="context/ds/dsRH.xml"/>
	<import resource="context/ds/dsPurchasing.xml"/>
	<import resource="context/ds/dsSecurity.xml"/>
	
	<!-- contextos y definicion de beans para los business services -->
	<import resource="context/bs/bsCuentasPorCobrar.xml"/>
	<import resource="context/bs/bsFacturacion.xml"/>
	<import resource="context/bs/bsPurchasing.xml"/>
		
	<!-- contextos y definicion de beans para los facade services -->
	<import resource="context/fs/fsCuentasPorCobrar.xml"/>
	<import resource="context/fs/fsFacturacion.xml"/>
	<import resource="context/fs/fsRH.xml"/>
	<import resource="context/fs/fsPurchasing.xml"/>
	<import resource="context/fs/fsSecurity.xml"/>
	
	
	<!-- definicion de beans, datasources y transaccionalidad -->
	<import resource="context/txContext.xml"/>
	
	<!-- definicion de web services usando JAX-WS -->
	<!--  <import resource="spring-jaxws.xml"/>  --> 
	
</beans>