<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" 
	default-lazy-init="true">
	
	<import resource="context/bs/bsCuentasPorCobrar.xml"/>
	<import resource="context/bs/bsFactibilidades.xml"/>
	<import resource="context/bs/bsFacturacion.xml"/>
	
	<import resource="context/fs/fsCuentasPorCobrar.xml"/>
	<import resource="context/fs/fsFactibilidades.xml"/>
	<import resource="context/fs/fsFacturacion.xml"/>
	
</beans>