<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
 
    <context:component-scan base-package="com.primefacesmc.beans.aplicacion.controllers,
    									  com.services.facade.app.person.impl" />
     
    <bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/web/content/spring-views/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	
	<!-- <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list> -->
				<!-- <ref bean="jsonMessageConverter"/> -->
	<!--			<ref bean="marshallingConverter" /> 
			</list>
		</property>
	</bean> 
	
	<bean id="marshallingConverter"
      	class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter">
    	<constructor-arg ref="jaxb2Marshaller" />
    	<property name="supportedMediaTypes" value="application/xml"/>
	</bean>-->
	
	<!-- <bean id="jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="packagesToScan">
			<list>
	            <value>com.model.data.app</value>	
	            <value>com.obj.transf.datos.app</value>  
	        </list>
		</property> -->
	    <!-- <property name="classesToBeBound">
	        <list>
	            <value>com.model.oxm.ContactRequest</value>
	            <value>com.model.oxm.ContactResponse</value>
	        </list>
	    </property> -->
	    <!-- <property name="marshallerProperties">
	        <map>
	            <entry>
	                <key>
	                    <util:constant static-field="javax.xml.bind.Marshaller.JAXB_FORMATTED_OUTPUT" />
	                </key>
	                <value type="boolean">true</value>
	            </entry> 
	            <entry>
	                <key>
	                    <util:constant static-field="javax.xml.bind.Marshaller.JAXB_FRAGMENT" />
	                </key>
	                <value type="boolean">true</value>
	            </entry>
	        </map>
	    </property> -->
	<!--    <property name="validationEventHandler" ref="customEventHandler" />
	</bean>		-->
	
	<!--
	<bean id="customEventHandler" class="com.core.app.otd.xml.validation.CustomEventHandler">
	</bean>
	
	-->
	
	<!--
	<bean id="jsonMessageConverter"
      	class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"> -->
   			<!-- <property name="supportedMediaTypes" value="application/json" />  --> 
	<!-- </bean> -->
	
	
    
    <mvc:annotation-driven />
 
</beans>