html, body, #principalPlantilla-divPrincipal {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "Segoe UI","Segoe WP","Segoe UI WPC",Tahoma,Arial,sans-serif;
}

/** Estilos Generales que son usados por todos los componentes y elementos del sistema **/
.fontPrincipal{
	font-family: "Segoe UI","Segoe WP","Segoe UI WPC",Tahoma,Arial,sans-serif !important;
}

.ulGeneral {
    clear: both;
    display: inline-block;
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    margin: 5px 0px 0px 5px;
}

.ulGeneral > li {
    float: left;
}

.divGeneral {
	background-color: white;
	border: 1px solid #E6E6E6;
	margin: 0px 30px 10px 30px;
}

.divGeneral .lblDivGeneral {
    display: block;
    margin: 5px 0 10px 5px;
    font-size: 16px;
    font-weight: bold;
}

.lblTituloPagina{
    margin-left: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #0081c2;
}

/** Terminan Los Estilos Generales que son usados por todos los componentes y elementos del sistema **/

#principalPlantilla-divPrincipal {
    max-width: 100%;
    min-width: 400px;
    height: 100%;
    border: 0 solid #000000;
}
#principalPlantilla-divPrincipal > #divEncabezado {
    background-color: #23282D;
    color: white;
    border: 0 solid black;
    height: 45px;
    width: 100%;
}
#principalPlantilla-divPrincipal > #divMenu {
    background-color: #23282D;
    border: 0 solid black;
    float: left;
    height: 93.2%;
    width: 15%;
}
#principalPlantilla-divPrincipal > #divContenido {
    background-color: #F8F8F8;
    border: 0 solid black;
    float: left;
    height: 93.2%;
    width: 85%;
}
#principalPlantilla-divPrincipal > #divPie {
}
