/* Estilos encabezado-plantilla */

#headerPlantilla-divPrincipal {
    color: #C6CACD;
}

#headerPlantilla-formPrincipal\:headerPlantilla-lblEnterprise {
    font-size: 12px;
}

#headerPlantilla-formPrincipal\:headerPlantilla-lblERP {
    font-size: 28px;
}

#headerPlantilla-divBarraUsuario {
    float: right;
    margin: 5px 0;
    font-family: "Segoe UI","Segoe WP","Segoe UI WPC",Tahoma,Arial,sans-serif;
}

#headerPlantilla-formPrincipal\:headerPlantilla-Usuario {
    font-family: "Segoe UI","Segoe WP","Segoe UI WPC",Tahoma,Arial,sans-serif;
    font-size: 16px;
    padding: 0 0px 0 3px;
}

#headerPlantilla-divBarraUsuario .icono-awesome {
	font-size: 20px;
}

#headerPlantilla-tableBarraUsuario td {
    padding: 4px 12px 0 0;
}

#headerPlantilla-divBarraUsuario a {
    color: #c6cacd;
    text-decoration: none;
}

#headerPlantilla-divBarraUsuario a:hover,
#headerPlantilla-formPrincipal\:headerPlantilla-Usuario:hover {
    color: #1285bc;
    cursor: pointer;
}