/* clase principal desde la cual se heredan las propiedades a las demas clases,
   es importante siempre definir ciertas propiedades desde el padre para evitar que 
   clases más internas no entren en conflicto con las de su mismo nivel o altura
*/
#menuplantilla-formPrincipal .ui-widget-content {
    background: #32373C;
    color: #B9BCBF;
    border: 0px;
    font-size: 14px;
}

#menuplantilla-formPrincipal .ui-tree{
	width: 100%;
}
#menuplantilla-formPrincipal .ui-tree-container{
	
} 
#menuplantilla-formPrincipal .ui-treenode {
	
}
#menuplantilla-formPrincipal .ui-treenode-content {
	
}
#menuplantilla-formPrincipal .ui-treenode-icon {
	
}
#menuplantilla-formPrincipal .ui-tree-toggler {
	
}
#menuplantilla-formPrincipal .ui-treenode-label {
    padding: 0 10px;
}
#menuplantilla-formPrincipal .ui-treenode-parent {
	
}
#menuplantilla-formPrincipal .ui-treenode-leaf{
	
}

#menuplantilla-formPrincipal li > span:hover {
    background-color: #0073AA;
    color: white;
}

#menuplantilla-formPrincipal li > span:active {
    /* background-color: #d19b3d; */
}

#menuplantilla-formPrincipal .ui-icon {
    display: none;
}

#menuplantilla-formPrincipal .ui-tree .ui-tree-container {
	padding: 0px;
}

#menuplantilla-formPrincipal .ui-tree .ui-treenode .ui-treenode-content {
    clear: left;
    display: inline;
    float: left;
    margin: 4px 0 0 0px;
    padding: 0;
    width: 100%;
}

#menuplantilla-formPrincipal .ui-tree .ui-treenode-leaf-icon {
    display: none;
}

